# Ignore macOS .DS_STORE files
.DS_Store

# Other files to ignore
.Rhistory
.RData
.Rproj.user

# Python specific
__pycache__/
*.py[cod]
*$py.class

# R specific
.Rproj.user/
.Rhistory
.RData
.Ruserdata
R/edudat/man/**

# Ignore rendered quarto files
data/**/*_files/
data/**.html

# Ignore data cache (optional, if you cache data in a specific directory)
data/cache/
/python/edudat.egg-info
/python/dist
/python/build
R/edudat_0.1.tar.gz
data/challenger_files/figure-html/plot_data-1.png
R/edudat/man/load_data.Rd
*.Rproj
edudat_0.1.tar.gz
